/*
<!--

* 详尽信息请看：https://nkupp.com
* 来源于：公众号曰坛
* Copyright by Nicolas-kings 版权所有
*
* 请尊重原创，未经允许请勿转载。
* 在保留版权的前提下可应用于个人或商业用途

-->
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
	* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Poppins',sans-serif;
}
body {
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	background:#ebf5fc;
}
.container {
	position:relative;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
	width:1100px;
}
.container .card {
	/* width:320px; */
	margin:20px;
	padding:40px 30px;
	background:#ebf5fc;
	border-radius:40px;
	box-shadow:-6px -6px 20px rgba(255,255,255,1),6px 6px 20px rgba(0,0,0,0.1);
}
.container .card:hover {
	box-shadow:inset -6px -6px 20px rgba(255,255,255,0.5),inset 6px 6px 20px rgba(0,0,0,0.05);
}
.container .card .imgBox {
	position:relative;
  margin-right: 10px;
  text-align:center;
}
.container .card .imgBox img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.container .card .imgBx {
	position:relative;
  margin-right: 10px;
  vertical-align: middle;
}
.container .card .imgBx img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  vertical-align: middle;
  
}
.container .card .imgBx span {
	color:#32a3b1;
	font-weight:700;
	font-size:2.1em;
	letter-spacing:2px;
  margin:20px;
}
.container .card .contentBx {
	position:relative;
	margin-top:20px;
	text-align:center;
}

.container .card .contentBx p {
	color:#32a3b1;
  font-size: 1.8em;
}
.container .card .contentBx h2 {
	color:#32a3b1;
  font-size: 1.8em;
}
.container .card .contentBx a {
	display:inline-block;
	padding:10px 20px;
	margin-top:15px;
	border-radius:40px;
	color:#32a3b1;
	font-size:1.6em;
	text-decoration:none;
	box-shadow:-4px -4px 15px rgba(255,255,255,1),4px 4px 15px rgba(0,0,0,0.1);
}
.container .card .contentBx a:hover {
	box-shadow:inset -4px -4px 10px rgba(255,255,255,0.5),inset 4px 4px 10px rgba(0,0,0,0.1);
}
.container .card a:hover span {
	display:block;
	transform:scale(0.98);
}
.container .card:hover .imgBx,.container .card:hover .contentBx {
	transform:scale(0.98);
}